<%= turbo_frame_tag(tag) do %>
  <div class="flex gap-3 items-center">
    <div>
      <%= link_to(
        tag.display_name,
        gallery_tag_path(@gallery, tag),
        data: {turbo: false}
      ) %>
    </div>
    <%= button_to(
      "Remove",
      gallery_image_tag_path(@gallery, @image, tag),
      method: :delete,
      class: "button button--danger",
      data: {turbo_confirm: "Are you sure?"}
    ) %>
  </div>
<% end %>
