<% Array(tag_search.results).each do |tag| %>
  <%= turbo_frame_tag("gallery-tag-search-result-#{tag.id}") do %>
    <div class="flex gap-4 my-2" data-role="gallery-tag-search-result">
      <%= tag.display_name %>
      <%= link_to(
        "Add",
        gallery_path(gallery, tag_ids: params.fetch(:tag_ids, []) + [tag.id]),
        class: "button",
        data: {
          turbo_frame: "gallery-images",
        }
      ) %>
    </div>
  <% end %>
<% end %>
