<%= turbo_frame_tag("tag-search-form") do %>
  <%= simple_form_for(
    tag_search,
    url: gallery_image_tag_search_path(gallery, image),
    method: :get,
    html: {
      data: {turbo_frame: "tag-search"}
    }
  ) do |form| %>
    <div class="flex w-full gap-3">
      <%= form.input(
        :query,
        label: false,
        wrapper_html: {class: "grow"},
        input_html: {
          autocorrect: "off",
          autocomplete: "off",
          aria: {label: "Tag search query"},
        }
      ) %>
      <%= form.button(:submit, "Search") %>
    </div>
  <% end %>
<% end %>
