<h3 class="text-lg mb-3">Add tag</h3>

<%= render(
  partial: "galleries/images/tag_searches/form",
  locals: {
    tag_search:,
    gallery: @gallery,
    image: @image
  }
) %>

<%= render(
  partial: "galleries/images/tag_searches/results",
  locals: {
    tag_search:,
    gallery: @gallery,
    image: @image
  }
) %>
